.lesson  {
    background-color: lemonchiffon;
}

.section-blue{

}

.container {

}

#section-1{

}

#section-6{

}

#paragraph-1 {
    color: darkslateblue;
    background-color: white;
}

#paragraph-2 {
    color: darkslateblue;
    background-color: darkorange;
}

#paragraph-3 {
    color: white;
    background-color: darkslateblue;
}
.title {
    color: darkblue;
}

#email {
    background-color: goldenrod;
}

#github {
    background-color: lightsteelblue;
}

#portfolio {
    background-color: darkorange;
}